:root {
    --neon: #2196f3;
    --bg: #c2f8ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1%;
}

.neon a {
    position: relative;
    display: inline-block;
    font-family: Consolas;
    font-size: 24px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.2s;
    overflow: hidden;
    color: var(--neon);
}

.neon a:hover {
    color: #255784;
    background-color: var(--neon);
    box-shadow: 0 0 20px var(--neon), 0 0 40px var(--neon);
    transition-delay: 1.5s;
    animation: animateColor 4s linear infinite;
}

.neon a span {
    position: absolute;
    display: block;
}

.neon a:hover span {
    transition: 1s;
}

.neon a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--neon));
}

.neon a span:nth-child(2) {
    top: -100%;
    right: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--neon));
}

.neon a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--neon));
}

.neon a span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--neon));
}

.neon a:hover span:nth-child(1) {
    transition-delay: 0.25s;
    left: 100%;
}

.neon a:hover span:nth-child(2) {
    transition-delay: 0.5s;
    top: 100%;
}

.neon a:hover span:nth-child(3) {
    transition-delay: 0.75s;
    right: 100%;
}

.neon a:hover span:nth-child(4) {
    transition-delay: 1s;
    bottom: 100%;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}